<div class="product_section
            js-product_section
            container
            is-justify-space-between
            has-padding-bottom
            {% if product_images_position == 'right' %}
              is-flex-row-reverse
            {% endif %}"
            data-rv-handle="{{ product.handle }}">

  <div class="product__images
              one-half
              column
              medium-down--one-whole">
    {%
      render 'product__images',
      product: product,
      display_thumbnails: display_thumbnails,
      thumbnail_position: thumbnail_position,
      enable_thumbnail_slider: enable_thumbnail_slider,
      product_height: product_height,
      set_product_height: set_product_height,
      video_looping: video_looping
      gallery_arrows: gallery_arrows,
      slideshow_transition: slideshow_transition,
      enable_product_lightbox: enable_product_lightbox,
      enable_zoom: enable_zoom
    %}
  </div>

  <div class="product__information
              has-product-sticker
              one-half
              column
              medium-down--one-whole">
    

  

    {% comment %} Sale sticker {% endcomment %}
    {% if stickers_enabled %}
      {% assign collection_handles = product.collections | map: 'handle' %}
      {%
        render 'product-thumbnail__sticker',
        context: 'product',
        collection_handles: collection_handles,
      %}
    {% endif %}

    {% comment %} Review stars {% endcomment %}
    {% if enable_shopify_product_badges %}
      <div class="spr-badge-container">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
    {% endif %}

    {% comment %} Vendor {% endcomment %}
    {% if display_vendor %}
      <p class="vendor">
        <span class="vendor">{{ product.vendor | link_to_vendor }}</span>
      </p>
    {% endif %}

    {% comment %} Sku {% endcomment %}
    {% if display_sku %}
      <p class="sku">{{ selected_variant.sku }}</p>
    {% endif %}

    <div>

      {% comment %} Name {% endcomment %}
      <h1 class="product_name title">
        {% if section_id == 'quickshop' %}
          <a href="{{ product.url }}">{{ product.title }}</a>
        {% else %}
          {{ product.title }}
        {% endif %}
      </h1>


<!-- Start of Judge.me code -->
      <div style='{{ jm_style }}' class='jdgm-widget jdgm-preview-badge' data-id='{{ product.id }}' data-auto-install='false'>
        {{ product.metafields.judgeme.badge }}
      </div>
      <!-- End of Judge.me code -->

<div class="dealimg"><img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/black_friday.png?v=1763122765" alt="black friday sale"></div>

<style>
              .dealimg{
            max-width:260px;
            padding:10px 0px;
            margin-bottom:-15px;
            }
            .dealimg img{
            width:100%;
            }
            .price .money{
            font-size:larger !important;
            }
</style>

      {% for tag in product.tags %}
        {% if tag contains 'meta-size-chart-' %}
          {% assign meta-size-chart = true %}
        {% endif %}
      {% endfor %}


      {% comment %} Size chart Mobile {% endcomment %}
      {% if size_chart != blank or meta-size-chart %}
        <a href="javascript:;" class="product__size-chart size-chart--medium-down" data-fancybox data-src="#size-chart{{product.id}}" data-type="inline">{{ 'products.product.size_chart' | t }} {% render 'icon', name: 'right-caret' %}</a>
        {% render 'popup-size-chart', product_id: product.id %}
      {% endif %}

      {% comment %} Price {% endcomment %}
      <div class="modal_price subtitle">
        {% comment %}Inject @pixelunion/shopify-price-ui/price-ui begin{% endcomment %}
        <div class="price-ui price-ui--loading" data-price-ui>
          <noscript>
            <style>
              .price-ui--loading {
                display: block !important;
                opacity: 1 !important;
              }
            </style>
          </noscript>
          {% assign compare_at_price = false %}
        
          {% if product.compare_at_price and product.compare_at_price != product.price %}
            {% if product.compare_at_price_varies %}
              {%- capture price_min -%}
                {%-
                  render 'price-ui-templates',
                  template: 'price-min',
                  value: product.compare_at_price_min,
                -%}
              {%- endcapture -%}
        
              {%- capture price_max -%}
                {%-
                  render 'price-ui-templates',
                  template: 'price-max',
                  value: product.compare_at_price_max,
                -%}
              {%- endcapture -%}
        
              {%- assign compare_at_price = 'product.price.range_html' | t: price_min: price_min, price_max: price_max -%}
            {% else %}
              {%- capture compare_at_price -%}
                {%-
                  render 'price-ui-templates',
                  template: 'price',
                  value: product.compare_at_price,
                -%}
              {%- endcapture -%}
            {% endif %}
          {% endif %}
        
          {% if product.price_varies %}
            {%- capture price_min -%}
              {%-
                render 'price-ui-templates',
                template: 'price-min',
                value: product.price_min,
              -%}
            {%- endcapture -%}
        
            {%- capture price_max -%}
              {%-
                render 'price-ui-templates',
                template: 'price-max',
                value: product.price_max,
              -%}
            {%- endcapture -%}
        
            {%- assign price = 'product.price.range_html' | t: price_min: price_min, price_max: price_max -%}
          {% else %}
            {%- capture price -%}
              {%-
                render 'price-ui-templates',
                template: 'price',
                value: product.price,
              -%}
            {%- endcapture -%}
          {% endif %}
        
          {%-
            render 'price-ui-templates',
            template: 'price-ui',
            compare_at_price: compare_at_price,
            price: price,
            unit_pricing: false,
          -%}
        </div>
        {% comment %}Inject @pixelunion/shopify-price-ui/price-ui end{% endcomment %}


        {% comment %} Size chart {% endcomment %}
        {% if size_chart != blank or meta-size-chart %}
          <a href="javascript:;" class="product__size-chart medium-down--hidden" data-fancybox data-src="#size-chart{{product.id}}" data-type="inline">{{ 'products.product.size_chart' | t }} {% render 'icon', name: 'right-caret' %}</a>
          {% render 'popup-size-chart', product_id: product.id %}
        {% endif %}
      </div>
    </div>

  {% if product.tags contains 'Rain Cover' %}
  <div style="color:red; padding:5px 0px; font-weight:bold;">20% Off - Till Stock Lasts</div>
{% else %}
<div style="color:red; padding:5px 0px; font-weight:bold;">15% Off - Till Stock Lasts</div>
{% endif %}

<div id="dpo_placeholder"></div>



    {% comment %} Description - top {% endcomment %}
    {% if product_description_position == "top" %}
      {% if product.description != blank %}
        <div class="description content has-padding-top">
          {% if product.description contains '<!-- split -->' %}{{ product.description | split: '<!-- split -->' | first  }}{% else %}{% render 'product-description-tabs', product: product %}{% endif %}
        </div>
      {% endif %}
    {% endif %}
    
    <div style="clear:both;"></div>

    {% comment %} Purchase form {% endcomment %}
    <div class="myproductpagee product-form-container has-padding-top"> 

      {% comment %} Notify form {% endcomment %}
      {% render 'product__notify-me-form', product: product %}

      {% comment %} Product form {% endcomment %}
      {% unless collection_handles contains 'coming-soon' %}
        {%
          render 'product__form',
          context: 'product',
          product: product,
          sold_out_options: sold_out_options,
          selected_variant: selected_variant,
          show_payment_button: show_payment_button,
          collection_handles: collection_handles
        %}
      {% endunless %}
    </div>

    {% comment %} Description - bottom {% endcomment %}
    {% if product_description_position == "bottom" %}
      {% if product.description != blank %}
        <div class="description content bottom has-padding-top">
          {% if product.description contains '<!-- split -->' %}{{ product.description | split: '<!-- split -->' | first  }}{% else %}{% render 'product-description-tabs', product: product %}{% endif %}
        </div>
      {% endif %}
    {% endif %}
    {% comment %} Collections, type, tags {% endcomment %}
    {% if display_collections or display_tags or display_type %}
      <div class="product__classification-links has-padding-top">
        {% if display_collections %}
          <p class="product__collections-list tags">
            <span class="product__classification-title">{{ 'products.product.collections' | t }}:</span>
            {% for col in product.collections %}
              <span class="tag tag--{{ tag_style }}">
                <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>
              </span>
            {% endfor %}
          </p>
        {% endif %}

        {% if display_type %}
          <p class="product__type-list tags">
            <span class="product__classification-title">{{ 'products.product.product_types' | t }}:</span>
            <span class="tag tag--{{ tag_style }}">{{ product.type | link_to_type }}</span>
          </p>
        {% endif %}

        {% if display_tags and product.tags.size > 0 %}
          <p class="product__tags-list tags">
            <span class="product__classification-title">{{ 'products.product.tags' | t }}:</span>
            {% for tag in product.tags %}
              {% unless tag contains 'meta-' %}
                <span class="tag tag--{{ tag_style }}">
                  <a href="{{ routes.collections_url }}/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>
                </span>
              {% endunless %}
            {% endfor %}
          </p>
        {% endif %}
      </div>
    {% endif %}

    {% comment %} Social share icons {% endcomment %}
    {% if display_social_buttons %}
      <div class="product__social-share has-padding-top">
        {% render 'social-share-buttons' %}
      </div>
    {% endif %}

  </div>
</div>














 {% form 'product', product %}
    <div style="display: none;" data-shop-pay-installments-template>{{ form | payment_terms }}</div>

    {% comment %}
      Display variant options for a product

      @param product
      @param selected_variant
      @param style

      @param enable_swatches
      @param swatches_shape
      @param swatches_option_trigger
      @param swatches_option_style
      @param swatches_product_page_size
      @param swatch_colors
    {% endcomment %}
    {% assign style = 'select' %}
    {% if settings.product_form_style == 'radio' %}
      {% assign style = 'radio' %}
    {% endif %}
    {% assign product = product %}
    {% assign sold_out_options = sold_out_options %}
    {% assign selected_variant = selected_variant %}
    {% assign enable_swatches = settings.enable_swatches %}
    {% assign swatches_shape = settings.swatch_style %}
    {% assign swatches_option_trigger = 'color' %}
    {% comment %}Inject @pixelunion/shopify-variants-ui/variant-selection begin{% endcomment %}
    {% comment %}
      Display variant options for a product
    
      @param product
      @param selected_variant
      @param variant_selection_id
      @param sold_out_options
      @param style
    
      @param enable_swatches
      @param swatches_shape
      @param swatches_option_trigger
      @param swatches_option_style
      @param swatches_product_page_size
      @param swatch_colors
    {% endcomment %}
    
    <variant-selection
      {% if variant_selection_id != blank %}id="{{ variant_selection_id }}"{% endif %}
      class="variant-selection"
      product-url="{{ product.url }}.js"
      variant="{% if selected_variant %}{{ selected_variant.id }}{% else %}not-selected{% endif %}"
      data-variant-selection
    >
      {% if product.has_only_default_variant %}
        <input
          class="variant-selection__variants variant-selection__variants--default"
          name="id"
          type="hidden"
          value="{{ product.variants.first.id }}"
          data-variants
        >
      {% else %}
        <noscript>
          <style>
            .variant-selection__variants {
              display: block !important;
            }
          </style>
        </noscript>
        <select
          class="variant-selection__variants"
          name="id"
          style="display: none"
          data-variants
        >
          <option
            value="not-selected"
            disabled
            {% if selected_variant == blank %}selected{% endif %}
          >
            {{ 'product.variants.choose_variant' | t }}
          </option>
          {% for variant in product.variants %}
            <option
              {% if selected_variant and selected_variant.id == variant.id %}selected{% endif %}
              value="{{ variant.id }}"
              {% unless variant.available %}disabled{% endunless %}
            >
              {{ variant.title }} - {{ variant.price | money }}
            </option>
          {% endfor %}
        </select>
    
        {% comment %}Inject @pixelunion/shopify-variants-ui/options-selection begin{% endcomment %}
        {% comment %}
          Display variant options for a product
        
          @param product
          @param selected_variant
          @param variant_selection_id
          @param sold_out_options
          @param style
        
          @param enable_swatches
          @param swatches_shape
          @param swatches_option_trigger
          @param swatches_option_style
          @param swatches_product_page_size
          @param swatches_custom_colors
        {% endcomment %}
        
        <options-selection
          {% if variant_selection_id != blank %}variant-selection="{{ variant_selection_id }}"{% endif %}
          style="display: none;"
          {% if sold_out_options == 'disabled' %}disable-unavailable{% endif %}
          {% if sold_out_options == 'hidden' %}remove-unavailable{% endif %}
          data-options-selection
        >
          <script>
            (function() {
              const scriptTag = document.scripts[document.scripts.length - 1];
              const parentTag = scriptTag.parentNode;
        
              parentTag.style.display = '';
            })()
          </script>
        
          {% for option in product.options_with_values %}
            {% assign option_index = forloop.index0 %}
            {% assign show_swatches = false %}
            {% if enable_swatches %}
              {%- assign swatches_option_trigger = swatches_option_trigger | strip | downcase -%}
              {%- assign option_name = option.name | strip | downcase -%}
        
              {% if option_name == swatches_option_trigger %}
                {% assign show_swatches = true %}
                {% assign swatch_option_key = 'option' | append: forloop.index %}
              {% endif %}
            {% endif %}
        
            {% if style == 'select' and show_swatches == false %}
              {%
                render 'options-select',
                product: product,
                selected_variant: selected_variant,
                option: option,
                option_index: option_index
              %}
            {% elsif style == 'radio' or show_swatches == true %}
              {%
                render 'options-radios',
                product: product,
                selected_variant: selected_variant,
                option: option,
                option_index: option_index,
                show_swatches: show_swatches,
                swatch_option_key: swatch_option_key,
                swatch_size: swatches_product_page_size,
                swatches_option_style: swatches_option_style
              %}
            {% endif %}
          {% endfor %}
        </options-selection>
        {% comment %}Inject @pixelunion/shopify-variants-ui/options-selection end{% endcomment %}
    
      {% endif %}
    </variant-selection>
    {% comment %}Inject @pixelunion/shopify-variants-ui/variant-selection end{% endcomment %}


    {% if product.available %}
      {% if settings.display_inventory_left %}
        <p class="items_left">
          {% if selected_variant.inventory_management != blank and selected_variant.inventory_quantity > 0 %}
            {% capture items_left_text %}
              {% if selected_variant.inventory_quantity == 1 %}
                {{ 'products.product.items_left_count.one' | t }}
              {% else %}
                {{ 'products.product.items_left_count.other' | t }}
              {% endif %}
            {% endcapture %}
            {% if selected_variant.inventory_quantity <= settings.inventory_threshold %}
              {{ selected_variant.inventory_quantity }} {{ items_left_text }}
            {% endif %}
          {% endif %}
        </p>
      {% endif %}

      <div class="purchase-details {% if settings.display_product_quantity %}has-quantity-box{% endif %}">
        {% if settings.display_product_quantity %}
          <div class="purchase-details__quantity product-quantity-box quantity-box--{{ settings.qty_box_style }}">
            {% render 'quantity-box' %}
          </div>
        {% endif %}
        {% comment %} Error message for add to cart action {% endcomment %}
        <div class="cart-warning"></div>
        <div class="purchase-details__buttons purchase-details__spb--{{ show_payment_button }}">
          {% if settings.cart_action == 'reload_page' %}
            <input type="hidden" name="return_to" value="back" />
          {% elsif settings.cart_action == 'redirect_cart' %}
            <input type="hidden" name="return_to" value="{{ routes.cart_url }}" />
          {% endif %}

          {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
          <button type="{% if settings.cart_action == 'mini_cart' or settings.cart_action == 'drawer' %}button{% else %}submit{% endif %}" name="add" class="button {% if settings.cart_action == 'mini_cart' or settings.cart_action == 'drawer' %} ajax-submit {% endif %}action_button button--add-to-cart {% if show_payment_button %} action_button--secondary {% endif %}" data-label={{ add_to_cart_label | json }} data-add-to-cart-trigger>
            {% if  settings.button_cart_icon != blank and settings.button_cart_icon_position == 'left' %}
              {%
                render 'icon',
                name: settings.button_cart_icon,
                icon_class: 'icon--cart'
              %}
            {% endif %}
            <span class="text">{{ add_to_cart_label }}</span>
            {% if  settings.button_cart_icon != blank and settings.button_cart_icon_position == 'right' %}
              {%
                render 'icon',
                name: settings.button_cart_icon,
                icon_class: 'icon--cart icon--right'
              %}
            {% endif %}
            <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
              <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
            </svg>
          </button>
          {% if show_payment_button %}
            {{ form | payment_button }}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endform %}








{% comment %} Description - split {% endcomment %}
{% if product.description contains "<!-- split -->"  %}
  <div class="product-description-split">
    <div class="description content">
      {% capture desctabs %}{{ product.description | split: '<!-- split -->' | last  }}{% endcapture %}{% render 'product-description-tabs' with desctabs %}
    </div>
  </div>
{% endif %}
