<div class="explore-fabrics">
    <div class="explore-fabric-inner section">
	    <div class="fabric-left">
            <div class="fab-desktop">
		    <h2>{{ section.settings.heading_01 }}</h2>
			<div class="fab-inner">
			   {% render 'Sunbrella-fabric' %}
			</div>
            </div>
          <div class="fabric-mobile">
              <button class="trigger">Explore The Sunbrella® Fabrics</button>
              <div class="modal">
                 <div class="modal-content">
                  <span class="close-button">×</span>
                   <h2>{{ section.settings.heading_01 }}</h2>
		           <div class="fab-inner">
			             {% render 'Sunbrella-fabric' %}
		           </div>
                 </div>
             </div>
          </div>
		</div>	 
		
		<div class="benefit-right">
		    <h2>{{ section.settings.heading_02 }}</h2>
			<div class="benefit-accordion">
			{%- for block in section.blocks -%}
			   <div class="accordion-box">
			   <div class="accBox">
                 <div class="s1">
			       {%- if block.settings.icon_img_01 != blank -%}
                        <img src="{{ block.settings.icon_img_01 | img_url: 'master'  }}">
                   {%- endif -%} 
			      <p>{{ block.settings.title }}</p>
                 </div>
                 <div>
                 <img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/Group_75.png?v=1744192036" class="i-close">
                 <img src="https://cdn.shopify.com/s/files/1/0614/7453/7714/files/Group_74.png?v=1744192036" class="i-open">
               </div>
			   </div>
			   <div class="accContent">
    		      {{ block.settings.answer }}
    		   </div>
			   </div>
			{% endfor %}   
  	        </div>
		</div>
		
		
	</div>
</div>



<script>
$(document).ready(function() {
    $(".accBox").click(function() {
        $(".accContent").slideUp("fast");
        if ($(this).next().is(":hidden") == true) {
            $(this).next().slideDown("normal")
            $(this).addClass("active");
        }
       else{
		$(this).removeClass("active");
	 }
    });
    $(".accContent").hide()
});
</script>

<style>
.explore-fabrics{
   width: 100%;
   background:{{section.settings.color_accent}};
   padding-top: {{section.settings.p_t}}px;
   padding-bottom: {{section.settings.p_b}}px;
}
.explore-fabric-inner {
    display: flex;
    gap: 70px;
}
.fabric-left {
    width: 50%;
}
.benefit-right {
    width: 50%;
}
.explore-fabric-inner h2 {
    font-size: 30px;
    font-family: Lato-SemiBold;
    margin-bottom: 50px;
}
table.fabric-dlts {
    width: 100%;
}
.accBox {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.s1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.accBox p {
    color: #000;
    font-size: 20px;
	font-family: Lato-SemiBold;
}
.accBox img {
    width: 30px;
    height: 24px;
    object-fit: contain;
}
.accordion-box {
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 3px 3px 15px #00000014;
}
.accContent p {
    font-size: 15px;
    line-height: 21px;
    color: #00000099;
    padding-top: 20px;
}
.fabric-left .xo-gallery-search {
    margin-left: 0;
}
.fabric-left  .xo-gform-text-field__input {
    padding: 10px 35px;
    border: 1px solid transparent!important;
    color: #00000099;
    background: #f7f8fb!important;
    border-bottom: 1px solid #0000002b!important;
}
.fabric-left .xo-styles-desc {
    color: #000!important;
}  
.fabric-left .imagebox {
    border-radius: 12px;
}
.fabric-left .xo-loadmore--center {
    text-align: left;
}
.fabric-left a.xo-loadmore.imagebox__btn {
    color: #294D4A;
    padding: 0!important;
    border: none!important;
    border-bottom: 1px solid #294D4A!important;
    border-radius: 0;
}  
img.i-close {
    width: 14px;
}
img.i-open {
    width: 14px;
    display: none;
} 
.accBox.active img.i-open {
    display: block;
}
.accBox.active img.i-close {
    display: none;
} 
.fabric-mobile{display:none;}
  
@media (max-width: 767px) {
.explore-fabric-inner {
    display: flex;
    gap: 0px;
    flex-direction: column-reverse;
    padding: 0 20px;
}
.benefit-right {
    width: 100%;
}
.explore-fabric-inner h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    width: 80%;
    margin: 0 auto 20px;
}
.fabric-left {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.fabric-mobile{
  display: block;
}
.fab-desktop {
    display: none;
}
.accBox p {
    font-size: 18px;
}
.explore-fabrics {
    padding-top: 40px!important;
    padding-bottom: 40px!important;
} 
}

/*==========modal-css============*/
.trigger {
    text-align: center;
    padding: 0;
    background: transparent;
    color: #294D4A;
    font-size: 15px;
    outline: none;
    border-bottom: 1.5px solid #294D4A!important;
    font-weight: 600;
    border: none;
    border-radius: 0;
    margin: 0 auto;
    width: max-content;
}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 11;
}
.modal-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    width: 24rem;
    height: 71vh;
    border-radius: 0.5rem;
}
.modal-content section#Sunbrella {
    height: 84%;
    overflow: scroll;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

</style>	

<script>
var modal = document.querySelector(".modal");
var trigger = document.querySelector(".trigger");
var closeButton = document.querySelector(".close-button");

function toggleModal() {
    modal.classList.toggle("show-modal");
}

function windowOnClick(event) {
    if (event.target === modal) {
        toggleModal();
    }
}

trigger.addEventListener("click", toggleModal);
closeButton.addEventListener("click", toggleModal);
window.addEventListener("click", windowOnClick);

</script>

{% schema %}
    {
        "name": "Explore fabrics",
        "settings": [
		  {
  		     "type": "color",
  		     "id": "color_accent",
  		     "label": "Background color",
  		     "default": "#fff"
		  },
          {
             "type": "text",
             "id": "heading_01",
             "label": "Heading 1"
          },
		   {
             "type": "text",
             "id": "heading_02",
             "label": "Heading 2"
          },
		  {
             "type": "range",
             "id": "p_t",
             "default": 50,
             "label": "Padding Top",
             "max": 300,
             "min": 0,
             "step": 5,
             "unit": "Px"
         }, 
	     {
             "type": "range",
             "id": "p_b",
             "default": 50,
             "label": "Padding Bottom",
             "max": 300,
             "min": 0,
             "step": 5,
             "unit": "Px"
           }
        ],
       "blocks": [
    {
      "name": "item",
      "type": "item",
      "settings": [
	    {
          "type": "image_picker",
          "id": "icon_img_01",
          "label": "Icon Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "What is your question?"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Provide the answer to the question here.</p>"
        }
      ]
    }
  ],
      "presets": [
        {
          "name": "Explore fabrics",
          "blocks": [
            {
              "type": "item"
            }
          ]
        }
      ]
    }
{% endschema %}	